body{
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

.pepe{
    width: 80%;
    height: auto;
    position: relative;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(46, 42, 32, 0.37);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
h1{
    color: white;
    font-size: 50px;
}
p{
    color: white;
    font-size: 30px;
    text-align: justify;
    text-align: center;
}
h2{
    color: white;
    font-size: 30px;
    text-align: justify;
    text-align: center;
}
label{
    color: white;
    font-size: 20px;
    text-align: justify;
    text-align: center;   
}
select{
    height: 29px;
}
img{
    width: 70%;
    height: 300px;
}
option{
    color: white;
    font-weight: bold;
    background-color: black;
}
h3{
    color: white;
    font-size: 20px;
    text-align: justify;
    text-align: center;
}
button{
    height: 40px;
}
@media only screen and (max-width: 480px) {
    h1{
        color: white;
        font-size: 28px;
    }
    .pepe{
        width: 100%;
        height: auto;
        position: relative;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 8px 32px 0 rgba(46, 42, 32, 0.37);
        border-radius: 0%;
        border: none;
    }
    p{
        color: white;
        font-size: 15px;
        text-align: justify;
        text-align: center;
    }
    h2{
        color: white;
        font-size: 30px;
        text-align: justify;
        text-align: center;
    }
    label{
        color: white;
        font-size: 20px;
        text-align: justify;
        text-align: center;   
    }
    select{
        height: 29px;
    }
    img{
        width: 97%;
        height: 200px;
    }
    option{
        color: white;
        font-weight: bold;
        background-color: black;
    }
}
