* {
    padding: 0px; margin: 0px;
}
.Politica{
    position: absolute;
    left: 82%;
    top: 40%;

}
.mydiv {
    position: relative;
    top: 40px;
    height: 100%;
    margin: auto; 
    width: 80%;
    background-color: white; 
}

.animate-bg:before, .animate-bg:after {
	content: '';
	position: absolute;
	left: -8px;
	top: -8px;
	background: linear-gradient(120deg, #8d01a0, #031ba5,  
	#e6036d,#ff6600, #04c2e4);
	background-size: 300%;
	width: calc(100% + 16px);
	height: calc(100% + 16px);
	z-index: -1;
	animation: BGgradient 15s ease infinite; 
}
body{
    background-image: url(https://image.freepik.com/free-photo/gradient-blue-abstract-background-smooth-dark-blue-with-black-vignette-studio_1258-68059.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
textarea{
    position: relative;
    top: 80px;
    left: 320px;
    border: solid ;
    text-align: center;
    color: black;
}
.Cxx{
    position: relative;
    top: 100px;
    left: 360px;
    width: 20px;
    height: 20px;
}
.AppGrat{
    width: 100%;
    height: 101px;
    background-color:#FCBE1D;
    margin-bottom: 10px;
    position: relative;
}
.MM{
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inika;
    font-size: 30px;
    position: absolute;
    left: 43%;
    top: 30%;
}
.chico{
    margin: auto;
    width: 74%;
    margin-bottom: 60px;
    left: 100px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 20px;
    left: 2px;
}
.text1{
    color: black;
    font-family: Inika;
    font-size: 20px;
    font-weight: 400;
    white-space: nowrap;
    border-right: 2px solid;
    width: 71ch;
    animation: typing 4s steps(71),
    blink .5s infinite step-end ;
    overflow: hidden;
}
@keyframes typing{
    from{ width: 0;}
}
@keyframes blink{
    50%{border-color: transparent;}
}
#text2{
    text-align: center;
    color: black;
    font-family: Inika;
    position: relative;
    bottom: 100px;
    margin-bottom: -70px;
 
}
.minecraft12{
    width: 100%;
    height: 300px;
    background-color:#000;
    margin-bottom: 110px;
    display: flex;
    position: relative;
}
#mine1{
    width: 350px;
    height: 192px;
    background-color: #000;
    float: left;
    color: white;
    font-family: Arial black;
    border-radius: 20px;
    display: flex;
    position: relative;
    top: 60px;
    left: 120px;
    
}
#mine1:hover{
    background: linear-gradient(70deg, blue, pink);
}
#mine2{
    width: 350px;
    height: 192px;
    background-color: #000;
    float: right;
    color: white;
    font-family: Arial black;
    border-radius: 20px;
    display: flex;
    position: relative;
    top: 60px;
    left: 200px;
}
#mine2:hover{
    background: linear-gradient(70deg, blue, pink);
}

img{
    width: 100px;
    height: 100px;
    margin-bottom: 110px;
    position: relative; 
    top: 25px;
    left: 20px;
}

.puto{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 48vh; 
}
#h5{
    width: 700px;
    height: 69px;
    text-align: center; 
    font-size: 25px;
    position: relative;
    top: -190px;
    left: -160px;
}
#h3{
    width: 560px;
    height: 79px;
    text-align: center;
    position: relative; 
    top: -190px;
    font-size: 25px;
    left: -70px;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
h4{
    text-align: center;
    width: 282px;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    top: -233px;
    left: 26px;
    color: white;
    font-family: Arial black;
}
.cc{
    text-align: center;
    width: 282px;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    top: -225px;
    left: 26px;
    color: white;
    font-family: Arial black;

}
@media screen and (min-width: 1300px) {
    .chico{
        width: 82%;
        left: 5px;
    }
    .text1{
        font-size: 25px;
    }
    #mine2{
        left: 260px;
    }
    iframe{
        width: 550px;
        height: 320px;
    }
}
@media screen and (min-width: 1400px) {
    .chico{
        left: 60px;
    }
    .text1{
        font-size: 25px;
    }
    .minecraft12{
        height: 400px;
    }
    #mine1{
        width: 450px;
        height: 240px;
        top: 60px;
        left: 160px;
    }
    #mine2{
        width: 450px;
        height: 240px;
        top: 60px;
        left: 210px;
    }
    img{
        width: 150px;
        height: 150px;
        top: 43px;
        left: 20px;
    }
    .puto{
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 48vh; 
    }
    #h5{
        width: 700px;
        font-size: 35px;
        top: -220px;
        left: -80px;
    }
    #h3{
        width: 560px; 
        top: -220px;
        font-size: 35px;
        left: 20px;
    }
    h4{
        font-size: 20px;
        top: -245px;
        left: 94px;
    }
    .cc{
        font-size: 20px;
        top: -236px;
        left: 94px;
    }
}
@media screen and (min-width: 1500px) {
    iframe{
        width: 500px;
        height: 360px;
        
    }
}
@media screen and (min-width: 1600px){
    .chico{
        left: 100px;
    }
    iframe{
        width: 600px;
        height: 400px;
    }
}
@media screen and (min-width: 1700px){
    .chico{
        top: 20px;
    }
    #mine1{
        left: 180px;
    }
    #mine2{
        left: 390px;
    }
}
@media screen and (min-width: 1850px){
    .AppGrat{
        height: 190px;
    }
    h1{
        position: relative;
        top: 30px;
        font-size: 70px;
    }
    .chico{
        width: 94%;
        height: 70px;
        position: relative;
        top: 30px;
        left: 99px;
    }
    .text1{
        font-size: 45px;
    }
    #text2{
        margin-bottom: 10px;
    }
    .minecraft12{
        width: 100%;
        height: 450px;
        background-color:#000;
        margin-bottom: 110px;
        display: flex;
        margin-bottom: 5px;
    }
    #mine1{
        top: 90px;
        left: 300px;
    }
    #mine2{
        top: 90px;
        left: 700px;
    }
    iframe{
        width: 800px;
        height: 500px;
    }
}
@media screen and (min-width: 1920px){
    .AppGrat{
        height: 190px;
    }
    .MM{
        position: relative;
        top: 40px;
        font-size: 65px;
    }
    .chico{
        width: 94%;
        height: 70px;
        position: relative;
        top: 30px;
        left: 99px;
    }
    .text1{
        font-size: 35px;
    }
    #text2{
        margin-bottom: 35px;
        font-size: 30px;
    }
    .minecraft12{
        width: 100%;
        height: 450px;
        background-color:#000;
        margin-bottom: 110px;
        display: flex;
        margin-bottom: 5px;
    }
    #mine1{
        top: 90px;
        left: 300px;
    }
    #mine2{
        top: 90px;
        left: 400px;
    }
    iframe{
        margin-bottom: 10px;
        width: 800px;
        height: 500px;
    }
}
@media only screen and (max-width: 1200px) {
* {
padding: 0px; margin: 0px;
}
#cacadepato{ 
    width: 100%;
    height: 70px;
    border: none;
    margin: none; 
    box-shadow:none;
    margin: auto;
}
#cacadepato:hover{
    box-shadow: none;
}
.Cxx{
    position: none;
    top: none;
    left: none;
    width: none;
    height: none;
}
.AppGrat{
    width: 100%;
    height: 60px;
    background-color:#FCBE1D;
}
h1{
    text-align: center;
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inika;
    font-size: 20px;
    font-weight: 400;
    padding: 15px
}
.chico{
    margin: auto;
    width: 74%;
    margin-bottom: 50px;
}
.text1{
    color: black;
    font-family: Inika;
    font-size: 15px;
    position: relative;
    left: 40px;
    border-right: 2px solid;
    animation: none;
    border-right: none;
    white-space: normal;
}
#text2{
    text-align: center;
    color: black;
    font-family: Inika;
    margin-bottom: 10px;
}
.minecraft12{
    width: 100%;
    height: 200px;
    background-color:#000;
    margin-bottom: 110px;
    display: flex;
}
#mine1{
    width: 180px;
    height: 120px;
    background-color: #000;
    float: left;
    color: white;
    font-family: Arial black;
    border-radius: 20px;
    display: flex;
    position: relative;
    top: 43px;
    left: 140px;
    background: linear-gradient(70deg, blue, pink);
    
}
#mine2{
    width: 180px;
    height: 120px;
    background-color: #000;
    float: right;
    color: white;
    font-family: Arial black;
    border-radius: 20px;
    display: flex;
    position: relative;
    top: 43px;
    left: 300px;
    background: linear-gradient(70deg, blue, pink);
}

img{
    width: 60px;
    height: 60px;
    margin-bottom: 110px;
    position: relative; 
    top: 25px;
    left: 6px;
}

#h5{
    width: 700px;
    height: 69px;
    text-align: center; 
    font-size: 15px;
    position: relative;
    top: -148px;
    left: -240px;
}
#h3{
    width: 560px;
    height: 79px;
    text-align: center;
    position: relative; 
    top: -148px;
    font-size: 15px;
    left: -160px;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
h4{
    text-align: center;
    width: 282px;
    color: #000;
    font-size: 10px;
    font-weight: 400;
    position: relative;
    top: -208px;
    left: -44px;
    color: white;
    font-family: Arial black;
}
.cc{
    text-align: center;
    width: 282px;
    color: #000;
    font-size: 10px;
    font-weight: 400;
    position: relative;
    top: -196px;
    color: white;
    font-family: Arial black;
    left: -42px;
}
iframe {
    width: 300px;
    height: 200px;
    position: relative;
    top: -90px;
}}

@media only screen and (max-width: 667px) {
    .mydiv animate-bg{ 
        width: 100%;
        border: none;
        margin: none; 
        box-shadow:none;
        margin: auto;
    }
    #cacadepato:hover{
        box-shadow: none;
    }
    .Cxx{
        position: relative;
        top: none;
        left: 10px;
        width: 10px;
        height: 10px;
        background-color: red;
    }
    .AppGrat{
        width: 100%;
        height: 60px;
        background-color:#FCBE1D;
    }
    h1{
        text-align: center;
        color: black;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Inika;
        font-size: 20px;
        font-weight: 400;
        padding: 15px
    }
    .chico{
        margin: auto;
        width: 74%;
        margin-bottom: 50px;
    }
    .text1{
        color: black;
        font-family: Inika;
        font-size: 15px;
        position: relative;
        left: 12px;
        border-right: 2px solid;
        animation: none;
        border-right: none;
        white-space: normal;
    }
    #text2{
        text-align: center;
        color: black;
        font-family: Inika;
        margin-bottom: -40px;
    }
    .minecraft12{
        width: 100%;
        height: 390px;
        background-color:#000;
        margin-bottom: 100px;
        display: flex;
    }
    #mine1{
        width: 180px;
        height: 120px;
        background-color: #000;
        float: left;
        color: white;
        font-family: Arial black;
        border-radius: 20px;
        display: flex;
        position: relative;
        top: 43px;
        left: 60px;
        background: linear-gradient(70deg, blue, pink);
        
    }
    #mine2{
        width: 180px;
        height: 120px;
        background-color: #000;
        float: right;
        color: white;
        font-family: Arial black;
        border-radius: 20px;
        display: flex;
        position: relative;
        top: 200px;
        left: -120px;
        background: linear-gradient(70deg, blue, pink);
    }
    
    img{
        width: 60px;
        height: 60px;
        margin-bottom: 110px;
        position: relative; 
        top: 25px;
        left: 6px;
    }
    
    #h5{
        width: 700px;
        height: 69px;
        text-align: center; 
        font-size: 15px;
        position: relative;
        top: -148px;
        left: -240px;
    }
    #h3{
        width: 560px;
        height: 79px;
        text-align: center;
        position: relative; 
        top: -148px;
        font-size: 15px;
        left: -160px;
    }
    a{
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
    h4{
        text-align: center;
        width: 282px;
        color: #000;
        font-size: 10px;
        font-weight: 400;
        position: relative;
        top: -208px;
        left: -44px;
        color: white;
        font-family: Arial black;
    }
    .cc{
        text-align: center;
        width: 282px;
        color: #000;
        font-size: 10px;
        font-weight: 400;
        position: relative;
        top: -196px;
        color: white;
        font-family: Arial black;
        left: -42px;
    }
    iframe {
        width: 200px;
        height: 150px;
        position: relative;
        top: -90px;
    }}
    