body{
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
nav{
    width: 98%;
    height: 300px;
    position: relative;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 8px 32px 0 rgba(46, 42, 32, 0.37);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-bottom: 1px;
}
.mm{
    color: black;
}
p{
    color: black;
}
						.fbcoms {
                            margin-top: 1px;
                            width: 98%;
                            height: auto;
                            background: rgba(255, 255, 255, 1);
                            box-shadow: 0 8px 32px 0 rgba(46, 42, 32, 0.37);
                            border-radius: 16px;
                            text-align: left;
                            border: 1px solid rgba(255, 255, 255, 0.18);
						}
						.comments {
						font-weight: bold;
						text-align: center;
                        font-size: 70px;
						}
						.totlikes {
						margin-top: 3px;
						background-color: ;
						padding: 5px 23px 5px 5px;
						background-image: url("../img/f/like.png");
						background-repeat: no-repeat;
						background-position: 5px center;
						}
						.fbblue {
						color: #3c5a96;
						}
						.buttons {
						padding-bottom: 5px;
						font-family: Arial, sans-serif;
						color: #7d7d7f;
						text-align: center;
						}
						.buttons span {
						cursor: pointer;
						}
						.buttons span:hover {
						text-decoration: underline;
						}
						.viewmore {
						margin-top: 3px;
						background-color: ;
						padding: 5px 23px 5px 5px;
						background-image: url("../img/f/bubble.png");
						background-position: 5px center;
						background-repeat: no-repeat;
						}
						.left {
						cursor: pointer;
						float: right;
						color: #3c5a96;
						}
						.left:hover {
						text-decoration: underline;
						}
						.right {
						color: #7d7d7f;
						float: left;
						}
						.item {
						position: relative;
						margin-top: 3px;
						background-color: ;
						padding: 5px 5px 5px 60px;
						min-height: 60px;
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
						}
						.item .profileimg {
						position: absolute;
						top: 5px;
						left: 5px;
						border-radius: 25px
						}
						.comtxt {
						line-height: 16px;
						}
						.name {
						color: #3c5a96;
						font-weight: bold;
						}
						.ago {
						color: #86878c;
						font-size: 0.95em;
						}
						.fblike {
						color: #3c5a96;
						font-size: 0.95em;
						cursor: pointer;
						}
						.fblike:hover {
						text-decoration: underline;
						}
						.combot {
						padding-top: 5px;
						}
						.clickhere {
						font-weight: bold;
						padding: 30px 10px 5px;
						line-height: 18px;
						}
						.likes {
						color: #3c5a96;
						font-size: 0.95em;
						cursor: pointer;
						}
						.fbimg {
						background-color: #fff;
						border-radius: 2px;
						-moz-border-radius: 2px;
						-webkit-border-radius: 2px;
						max-width: 210px;
						width: 100%;
						padding: 3px;
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
						border: 1px solid #808080;
						margin: 10px 0 5px;
						}
						.hidden {
						display: none;
						opacity: 0;
						}
						.hidden .comtxt, .hidden .combot, .comments {
						color: #038026;
						    font-size: 14px;
						}
						.answer{
						cursor: pointer;
						}
@media only screen and (max-width: 480px) {
    img{
        width: 200px;
        display: flex;
        justify-content: left;
    }
    .profileimg{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}