@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Itim&display=swap');
*{
    margin: 0 auto;
}
.logo{
    width: 100%;
    background-color: rgb(185, 72, 12);
    height: 60px;
}
.logo img{
    width: 15%;
    max-width: 60px;
}
.logo h1{
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    z-index: 100;
    position: relative;
    top: -55px;
    text-align: center;
}
.videos{
    width: 100%;
    margin: auto;
}
video{
    width: 50%;
}